<div class="container">
    <!-- Start of div for displaying the list -->
    <div class="container" *ngIf="!isSinglePageView">
        <button class="btn btn-success"  (click)="create()">CREATE</button>
        <table class='table-striped' border='1' align="center">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>No. Of Comments</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todoApp of todoApplication">
                    <td> {{todoApp.title}} </td>
                    <td> {{todoApp.description}} </td>
                    <td> {{todoApp.dueDate | date: 'dd-MMM-yyyy' }} </td>
                    <td> {{todoApp.status}} </td>
                    <td>{{todoApp.todoTaskCommentsSet.length}}</td>
                    <td><button class="btn btn-success"  (click)="view(todoApp)">VIEW</button></td>
                    <td><button class="btn btn-success"  (click)="edit(todoApp)">EDIT</button></td>
                    <td><button class="btn btn-warning"  (click)="delete(todoApp)">DELETE</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- End of div for displaying the list -->
    <!-- Start of div for displaying the single item -->
    <div *ngIf="isSinglePageView">
        <table class='table-striped' border='1' align="center">
            <tbody>
                <tr>
                    <th>Title</th>
                    <td *ngIf="!isEdit"> {{todoApplication.title}} </td>
                    <td *ngIf="isEdit"><input [(ngModel)]="todoApplication.title" size="35" /></td>
                </tr><tr>
                    <th>Description</th>
                    <td *ngIf="!isEdit">{{todoApplication.description}}</td>
                    <td *ngIf="isEdit"><textarea [(ngModel)]="todoApplication.description" rows="3" cols="38"></textarea></td>
                </tr><tr>
                    <th>Creation Date</th>
                    <td> {{todoApplication.creationDate | date: 'dd-MMM-yyyy' }} </td>
                </tr><tr>
                    <th>Due Date</th>
                    <td *ngIf="!isEdit"> {{todoApplication.dueDate | date: 'dd-MMM-yyyy' }} </td>
                    <td *ngIf="isEdit"> <input type="date" [(ngModel)]="todoApplication.dueDate" /> </td>
                </tr><tr>
                    <th>Status</th>
                    <td *ngIf="!isEdit"> {{todoApplication.status}} </td>
                    <td *ngIf="isEdit"> 
                        <select [(ngModel)]="todoApplication.status">
                            <option value="">--Select Status--</option>
                            <option *ngFor="let status of todoStatus" [ngValue]="status">{{status}}</option>
                         </select>
                    </td>
                </tr><tr *ngIf="todoApplication.id != 0">
                    <th>
                        Comments
                    </th>
                    <td>
                        <table class='table-striped' border='1' align="center" *ngIf="isEdit || todoApplication.todoTaskCommentsSet.length > 0">
                            <thead>
                                <tr>
                                    <th>Creation Date</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let todoComments of todoApplication.todoTaskCommentsSet">
                                    <td>{{todoComments.creationDate | date: 'dd-MMM-yyyy' }}</td>
                                    <td> {{todoComments.taskComments}} </td>
                                </tr>
                                <tr *ngIf="isEdit">
                                    <td colspan="2"><button class="btn btn-success" (click)="toggleCommentsTable()">Add New Comments</button></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table *ngIf="showToggleCommentTable">
                                            <tr>
                                                <th>Description</th>
                                                <td>
                                                    <textarea [(ngModel)]="todoTaskComments.taskComments" rows="2" cols="24"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>                                    
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr><tr *ngIf="isEdit">
                    <td colspan="2"><button class="btn btn-success"  (click)="submit(todoApplication, todoTaskComments)">SUBMIT</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- End of div for displaying the single item -->
</div>

