<div className="container">
    <div className="container">
        <table className='table-striped' border='1' align="center">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todoApp of todoApplication">
                    <td> {{todoApp.id}} </td>
                    <td> {{todoApp.title}} </td>
                    <td> {{todoApp.description}} </td>
                    <td> {{todoApp.dueDate | date: 'dd-MMM-yyyy' }} </td>
                    <td> {{todoApp.status}} </td>
                    <td><button (click)="view($event, todoApp)">VIEW</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
